body {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #121212;
    overflow: hidden;
}

canvas {
    height: 90%;
    border-radius: 1.5vh;
    /* border: 2.5px solid rgba(255, 255, 255, 0.628); */
}

#pauseText {
    /* Paused Text */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
}

.canvasContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    /* height: 100%; */
}

.uiContainer {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.column {
    width: 20%;
}

.ui {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vh;
    margin-top: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;

    width: 100%;

    background-color: #ffffff;
    border-radius: 3vh;
    
    color: rgb(0, 0, 0);
}

#queueCanvas {
    padding: 0;
    z-index: 2;
    width: 20vh;
    height: 60vh;
    border: 2px solid black;
}

.left {
    left: 5%;
    /* width: 25vh; */
    height: auto;
    right: auto;
}

.previewCanvas {
    padding: 0;
    z-index: 2;
    width: 20vh;
    height: 20vh;
    border: 5px solid black;
}

.smaller {
    margin-top: 0;
    font-size: medium;
}

.value {
    font-size: xx-large;
}

.ui div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pauseText {
    display: none;
    border-radius: 1vh;
    padding: 1vh;
    background-color: white;
    border: 2px dotted black;
}

.overlayUI {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.backgroundCanvas {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}