.shop_container {
    text-align: center;
    padding: 10px;
}

.shop_container div {
    width: 100%;
    height: 100%;
}

* {
    /* border: 1px black solid; */
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

button {
    padding: 0;
    width: 100px;
    height: 20px;
    text-align: center;
}