html, body {
	background-color: rgb(221, 221, 221);
	margin: 0;
	padding: 0;
	
}

body:-moz-drag-over {
	background-color: aqua;
}

#canvas {
	cursor: none;
	display: none;
	background-color: white;
	padding: 0;
	margin: auto;
	width: 800px;
	height: 600px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}



.Loading {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}


.UI2 {
	user-select: none;
	font-size: 1.5vw;
	background-color: rgba(49, 49, 49, 0.12);
	display: none; /* Needs To Be Flex */
	position: absolute;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 15vw;
	height: 100%;

	right: 0;

	z-index: 1;
}

.UI2 div {
	padding: 5px;
}

.UI2 div button {
	padding: 5px;
}






.UI {
	user-select: none;
	font-size: 1.5vw;
	background-color: rgba(49, 49, 49, 0.164);
	display: none; /* Needs To Be Flex */
	position: absolute;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 15vw;
	height: 100%;
	z-index: 1;
}

.UI div {
	padding: 5px;
}

.UI div button {
	padding: 5px;
}

.blocks_column {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 15px;
	width: 50%;
	height: 100%;
	max-height: 80%;
}

.Blocks_choose {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: none;
}

.Button:hover {
	background-color: grey;
}

.Button {
	background-color: darkgrey;
	transition-duration: 0.2s;
	width: 8vw;
	height: 8vw;
	text-align: center;
}

.Button img {
	width: 100%;
	height: 100%;
}

.Button_container {
	padding-right: 5px;
}

input {
	height: 20px;
}

.MainMenu {
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.MainMenu button {
    width: 60%;
    height: 10vh;
    font-size: 3vh;
}

.MainMenu .button_container {
    padding-top: 100px;
    width: 100%;
}

.Level_Select {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40%;
	width: calc(100% - 2vw);
	font-size: 3vw;
	color: rgb(242, 255, 254);
	overflow-x: auto;
}
.Level_Select button {
	height: 100%;
	width: 20%;
	font-size: 5vh;
}

.Level_Container {
	padding-left: 1px;
	/* margin-left: -1px; */
	height: 100%;
}

.Level {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: grey;
	border: 3px solid black;
	height: calc(100% - 10px);
	width: 10vw;
	text-align: center;
	transition: all;
	transition-duration: 0.2s;
}
.Level_Name {
	margin: 0;
    word-wrap: break-word;
    width: 100%;
}

.Level:hover {
	background-color: rgb(86, 86, 86);
}

.Level:active {
	background-color: rgb(66, 66, 66);
}

.Title {
	font-size: 2vw;
}

.NameOfLevel {
	user-select: none;
}
.NameOfLevel input {
	user-select: all;
}
.NameOfLevel_Container {
	position: absolute;
	display: none; /* Needs to be flex */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
	font-size: 1.5vw;
}
.NameOfLevel_Container button{
	width: 10vw;
	height: 5%;
	font-size: 1.5vw;
}
.NameOfLevel_Container .SaveNameError {
	font-size: 1vw;
	color: red;
	display: none;
}

.HideUI {
	position: absolute;
	top: 50%;
	background-color: white;
	border: 0.5px black solid;
	left: calc(100% - 2vw);

	transition-duration: 0.15s;
}
.HideUI:hover {
	background-color: grey;
}
.HideUI:active {
	background-color: darkgrey;
}