body,
html {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    /* color: white; */
}

canvas {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    user-select: none;
}

.MainMenu {
    position: absolute;
    display: flex;
    margin: 50%;
}

.Version {
    position: absolute;
    z-index: 1;
    color: rgb(160, 160, 160);
    /* margin-left: auto; */
    width: 100%;
    text-align: center;
}