body,
html {
    background-color: w;
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
}

canvas {
    margin: auto;
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    user-select: none;
}

.IpChooser {
    color: white;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.IpChooser input {
    width: 13vw;
    height: 2vh;
    transition-duration: 0.5s;
    background-color: rgb(232, 232, 232);
    border: 0;
    border-radius: 2px;
    text-align: center;
}

.IpChooser button {
    width: 15vw;
    height: 2vh;
    transition-duration: 0.5s;
    background-color: rgb(215, 215, 215);
    border: 0;
    border-radius: 2px;
}

.IpChooser button:hover {
    width: 17%;
    height: 2%;
    background-color: rgb(152, 152, 152);
}


.MainMenu {
    color: white;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

.MainMenu button {
    width: 15vw;
    height: 2vh;
    transition-duration: 0.5s;
    background-color: rgb(215, 215, 215);
    border: 0;
    border-radius: 2px;
}

.MainMenu button:hover {
    width: 17%;
    height: 2%;
    background-color: rgb(152, 152, 152);
}

.ConnectingScreen {
    color: white;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

.ErrorText {
    color: rgb(255, 79, 79);
    user-select: none;
}

.Version {
    user-select: none;
    position: absolute;
    z-index: 1;
    color: rgb(160, 160, 160);
    /* margin-left: auto; */
    width: 100%;
    text-align: center;
}